<body style="background-color: #F7F8E0;">
<% if @users.blank? %>
  <h5 style="text-align: center;">お探しの地域のパートナーが見つかりません。</h5>
<pre style="text-align: center;">
 /$$   /$$  /$$$$$$        /$$$$$$$  /$$$$$$$$  /$$$$$$  /$$   /$$ /$$       /$$$$$$$$
| $$$ | $$ /$$__  $$      | $$__  $$| $$_____/ /$$__  $$| $$  | $$| $$      |__  $$__/
| $$$$| $$| $$  \ $$      | $$  \ $$| $$      | $$  \__/| $$  | $$| $$         | $$   
| $$ $$ $$| $$  | $$      | $$$$$$$/| $$$$$   |  $$$$$$ | $$  | $$| $$         | $$   
| $$  $$$$| $$  | $$      | $$__  $$| $$__/    \____  $$| $$  | $$| $$         | $$   
| $$\  $$$| $$  | $$      | $$  \ $$| $$       /$$  \ $$| $$  | $$| $$         | $$   
| $$ \  $$|  $$$$$$/      | $$  | $$| $$$$$$$$|  $$$$$$/|  $$$$$$/| $$$$$$$$   | $$   
|__/  \__/ \______/       |__/  |__/|________/ \______/  \______/ |________/   |__/  
</pre>
<% end %>
  <%= render @users %>
</body>
