<% if chat.user_id == current_user.id %>
    <div class="box_right" >
      <p><span style="color: blue;"><%= chat.user.family_name %></span></p>
      <div class="arrow_box_right">
        <p class="message"><%= chat.message %></p>
      </div>
  </div>
<% else %>
    <div class="box_left">
      <p><span style="color: blue;"><%= chat.user.family_name %></span></p>
      <div class="arrow_box_left">
        <div class="message"><%= chat.message %></div>
      </div>
  </div>
<% end%>
<div class="clear"></div>
