.room_wrap {
  width: 80%;
  margin: 0 auto;
}

.show_img {
  max-width: 80%;
}

.show_left {
  width: 40%;
  float: left;
}

.show_left img {
  max-width: 100%;
}

.show_right {
  float: right;
  width: 40%;

}
